a:link,a:visited,a:hover,a:active {
    color:#d5dfff;
    text-decoration:underline;
    text-decoration: none;
    }

.tr-text {
    color: white;
    text-align: center;
    vertical-align: middle;
    }
